# Thesis Notebook Caro Pe

In [10]:
import pandas as pd

In [29]:
wuerzburg_dataset = "./Wuerzburg_copy.csv"
augsburg_dataset = "./augsburg_bikes.csv"

#munich datasets per year
muc_2022_dataset = "./munich_bikes_dataset/munich2022.csv"
muc_2021_dataset = "./munich_bikes_dataset/munich2021.csv"
muc_2020_dataset = "./munich_bikes_dataset/munich2020.csv"
muc_2019_dataset = "./munich_bikes_dataset/munich2019.csv"

#munich 2023 per month files
muc_2023_dec = "./munich_bikes_dataset/muc2023/munich_dec2023.csv"
muc_2023_nov = "./munich_bikes_dataset/muc2023/munich_nov2023.csv"
muc_2023_oct = "./munich_bikes_dataset/muc2023/munich_oct2023.csv"
muc_2023_sep = "./munich_bikes_dataset/muc2023/munich_sep2023.csv"
muc_2023_aug = "./munich_bikes_dataset/muc2023/munich_aug2023.csv"
muc_2023_jul = "./munich_bikes_dataset/muc2023/munich_jul2023.csv"
muc_2023_jun = "./munich_bikes_dataset/muc2023/munich_jun2023.csv"
muc_2023_may = "./munich_bikes_dataset/muc2023/munich_may2023.csv"
muc_2023_apr = "./munich_bikes_dataset/muc2023/munich_apr2023.csv"
muc_2023_mar = "./munich_bikes_dataset/muc2023/munich_mar2023.csv"
muc_2023_feb = "./munich_bikes_dataset/muc2023/munich_feb2023.csv"
muc_2023_jan = "./munich_bikes_dataset/muc2023/munich_jan2023.csv"

In [30]:
df_wuerzburg = pd.read_csv(wuerzburg_dataset)
df_augsburg = pd.read_csv(augsburg_dataset)
df_muc_2022 = pd.read_csv(muc_2022_dataset)
df_muc_2021 = pd.read_csv(muc_2021_dataset)
df_muc_2020 = pd.read_csv(muc_2020_dataset)
df_muc_2019 = pd.read_csv(muc_2019_dataset)

#munich 2023 data sets per month
df_m2023_1 = pd.read_csv(muc_2023_jan)
df_m2023_2 = pd.read_csv(muc_2023_feb)
df_m2023_3 = pd.read_csv(muc_2023_mar)
df_m2023_4 = pd.read_csv(muc_2023_apr)
df_m2023_5 = pd.read_csv(muc_2023_may)
df_m2023_6 = pd.read_csv(muc_2023_jun)
df_m2023_7 = pd.read_csv(muc_2023_jul)
df_m2023_8 = pd.read_csv(muc_2023_aug)
df_m2023_9 = pd.read_csv(muc_2023_sep)
df_m2023_10 = pd.read_csv(muc_2023_oct)
df_m2023_11 = pd.read_csv(muc_2023_nov)
df_m2023_12 = pd.read_csv(muc_2023_dec)

In [35]:
print("2023 Jan")
df_m2023_1.info()

print("2023 Feb")
df_m2023_2.info()

print("2023 Mar")
df_m2023_3.info()

print("2023 Apr")
df_m2023_4.info()

print("2023 May")
df_m2023_5.info()

print("2023 Jun")
df_m2023_6.info()

print("2023 Jul")
df_m2023_7.info()

print("2023 Aug")
df_m2023_8.info()

print("2023 Sep")
df_m2023_9.info()

print("2023 Oct")
df_m2023_10.info()

print("2023 Nov")
df_m2023_11.info()

print("2023 Dec")
df_m2023_12.info()

2023 Jan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          186 non-null    object
 1   uhrzeit_start  186 non-null    object
 2   uhrzeit_ende   186 non-null    float64
 3   zaehlstelle    186 non-null    object
 4   richtung_1     186 non-null    int64
 5   richtung_2     186 non-null    int64
 6   gesamt         186 non-null    int64
 7   min-temp       186 non-null    float64
 8   max-temp       186 non-null    float64
 9   niederschlag   186 non-null    float64
 10  bewoelkung     186 non-null    int64
 11  sonnenstunden  186 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 17.6+ KB
2023 Feb
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          168 non-null    object
 1   uhrzeit_start  168 non-null    object
 2   uhrzeit_ende   168 non-null    float64
 3   zaehlstelle    168 non-null    object
 4   richtung_1     168 non-null    int64
 5   richtung_2     168 non-null    int64
 6   gesamt         168 non-null    int64
 7   min-temp       168 non-null    float64
 8   max-temp       168 non-null    float64
 9   niederschlag   168 non-null    float64
 10  bewoelkung     168 non-null    int64
 11  sonnenstunden  168 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 15.9+ KB
2023 Mar
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          186 non-null    object
 1   uhrzeit_start  186 non-null    object
 2   uhrzeit_ende   186 non-null    float64
 3   zaehlstelle    186 non-null    object
 4   richtung_1     186 non-null    int64
 5   richtung_2     186 non-null    int64
 6   gesamt         186 non-null    int64
 7   min-temp       186 non-null    float64
 8   max-temp       186 non-null    float64
 9   niederschlag   186 non-null    float64
 10  bewoelkung     186 non-null    int64
 11  sonnenstunden  186 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 17.6+ KB
2023 Apr
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          180 non-null    object
 1   uhrzeit_start  180 non-null    object
 2   uhrzeit_ende   180 non-null    float64
 3   zaehlstelle    180 non-null    object
 4   richtung_1     180 non-null    int64
 5   richtung_2     180 non-null    int64
 6   gesamt         180 non-null    int64
 7   min-temp       180 non-null    float64
 8   max-temp       180 non-null    float64
 9   niederschlag   180 non-null    float64
 10  bewoelkung     180 non-null    int64
 11  sonnenstunden  180 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 17.0+ KB
2023 May
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          186 non-null    object
 1   uhrzeit_start  186 non-null    object
 2   uhrzeit_ende   186 non-null    float64
 3   zaehlstelle    186 non-null    object
 4   richtung_1     186 non-null    int64
 5   richtung_2     186 non-null    int64
 6   gesamt         186 non-null    int64
 7   min-temp       186 non-null    float64
 8   max-temp       186 non-null    float64
 9   niederschlag   186 non-null    float64
 10  bewoelkung     186 non-null    int64
 11  sonnenstunden  186 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 17.6+ KB
2023 Jun
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          180 non-null    object
 1   uhrzeit_start  180 non-null    object
 2   uhrzeit_ende   180 non-null    float64
 3   zaehlstelle    180 non-null    object
 4   richtung_1     170 non-null    float64
 5   richtung_2     170 non-null    float64
 6   gesamt         170 non-null    float64
 7   min-temp       180 non-null    float64
 8   max-temp       180 non-null    float64
 9   niederschlag   180 non-null    float64
 10  bewoelkung     180 non-null    int64
 11  sonnenstunden  180 non-null    float64
dtypes: float64(8), int64(1), object(3)
memory usage: 17.0+ KB
2023 Jul
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          155 non-null    object
 1   uhrzeit_start  155 non-null    object
 2   uhrzeit_ende   155 non-null    float64
 3   zaehlstelle    155 non-null    object
 4   richtung_1     155 non-null    int64
 5   richtung_2     155 non-null    int64
 6   gesamt         155 non-null    int64
 7   min-temp       155 non-null    float64
 8   max-temp       155 non-null    float64
 9   niederschlag   155 non-null    float64
 10  bewoelkung     155 non-null    int64
 11  sonnenstunden  155 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 14.7+ KB
2023 Aug
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          155 non-null    object
 1   uhrzeit_start  155 non-null    object
 2   uhrzeit_ende   155 non-null    float64
 3   zaehlstelle    155 non-null    object
 4   richtung_1     155 non-null    int64
 5   richtung_2     155 non-null    int64
 6   gesamt         155 non-null    int64
 7   min-temp       155 non-null    float64
 8   max-temp       155 non-null    float64
 9   niederschlag   155 non-null    float64
 10  bewoelkung     155 non-null    int64
 11  sonnenstunden  155 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 14.7+ KB
2023 Sep
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          150 non-null    object
 1   uhrzeit_start  150 non-null    object
 2   uhrzeit_ende   150 non-null    float64
 3   zaehlstelle    150 non-null    object
 4   richtung_1     150 non-null    int64
 5   richtung_2     150 non-null    int64
 6   gesamt         150 non-null    int64
 7   min-temp       150 non-null    float64
 8   max-temp       150 non-null    float64
 9   niederschlag   150 non-null    float64
 10  bewoelkung     150 non-null    int64
 11  sonnenstunden  150 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 14.2+ KB
2023 Oct
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          155 non-null    object
 1   uhrzeit_start  155 non-null    object
 2   uhrzeit_ende   155 non-null    float64
 3   zaehlstelle    155 non-null    object
 4   richtung_1     155 non-null    int64
 5   richtung_2     155 non-null    int64
 6   gesamt         155 non-null    int64
 7   min-temp       155 non-null    float64
 8   max-temp       155 non-null    float64
 9   niederschlag   155 non-null    float64
 10  bewoelkung     155 non-null    int64
 11  sonnenstunden  155 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 14.7+ KB
2023 Nov
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          150 non-null    object
 1   uhrzeit_start  150 non-null    object
 2   uhrzeit_ende   150 non-null    float64
 3   zaehlstelle    150 non-null    object
 4   richtung_1     150 non-null    int64
 5   richtung_2     150 non-null    int64
 6   gesamt         150 non-null    int64
 7   min-temp       150 non-null    float64
 8   max-temp       150 non-null    float64
 9   niederschlag   150 non-null    float64
 10  bewoelkung     150 non-null    int64
 11  sonnenstunden  150 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 14.2+ KB
2023 Dec
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     155 non-null    int64
 1   datum          155 non-null    object
 2   uhrzeit_start  155 non-null    object
 3   uhrzeit_ende   155 non-null    float64
 4   zaehlstelle    155 non-null    object
 5   richtung_1     155 non-null    int64
 6   richtung_2     155 non-null    int64
 7   gesamt         155 non-null    int64
 8   min.temp       155 non-null    float64
 9   max.temp       155 non-null    float64
 10  niederschlag   155 non-null    float64
 11  bewoelkung     155 non-null    int64
 12  sonnenstunden  155 non-null    float64
dtypes: float64(5), int64(5), object(3)
memory usage: 15.9+ KB

In [41]:
# Comparing the header row (column names) - only not for December, because it has a different size!! 
header_comparison = pd.DataFrame({'df1': df_m2023_1.columns, 'df2': df_m2023_2.columns, 'df3': df_m2023_3.columns, 'df4': df_m2023_4.columns, 'df5': df_m2023_5.columns, 'df6': df_m2023_6.columns, 'df7': df_m2023_7.columns, 'df8': df_m2023_8.columns, 'df9': df_m2023_9.columns, 'df10': df_m2023_10.columns, 'df11': df_m2023_11.columns})

print(header_comparison)

              df1            df2            df3            df4            df5  \
0           datum          datum          datum          datum          datum
1   uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start
2    uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende
3     zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle
4      richtung_1     richtung_1     richtung_1     richtung_1     richtung_1
5      richtung_2     richtung_2     richtung_2     richtung_2     richtung_2
6          gesamt         gesamt         gesamt         gesamt         gesamt
7        min-temp       min-temp       min-temp       min-temp       min-temp
8        max-temp       max-temp       max-temp       max-temp       max-temp
9    niederschlag   niederschlag   niederschlag   niederschlag   niederschlag
10     bewoelkung     bewoelkung     bewoelkung     bewoelkung     bewoelkung
11  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden

              df6            df7            df8            df9           df10  \
0           datum          datum          datum          datum          datum
1   uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start
2    uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende
3     zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle
4      richtung_1     richtung_1     richtung_1     richtung_1     richtung_1
5      richtung_2     richtung_2     richtung_2     richtung_2     richtung_2
6          gesamt         gesamt         gesamt         gesamt         gesamt
7        min-temp       min-temp       min-temp       min-temp       min-temp
8        max-temp       max-temp       max-temp       max-temp       max-temp
9    niederschlag   niederschlag   niederschlag   niederschlag   niederschlag
10     bewoelkung     bewoelkung     bewoelkung     bewoelkung     bewoelkung
11  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden

             df11
0           datum
1   uhrzeit_start
2    uhrzeit_ende
3     zaehlstelle
4      richtung_1
5      richtung_2
6          gesamt
7        min-temp
8        max-temp
9    niederschlag
10     bewoelkung
11  sonnenstunden