# Thesis Notebook Caro Pe

## Imports

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## CSV files input to the Notebook

In [13]:
#Köln Bikes Sets
koeln_2020 = "./koeln_bikes_dataset/koeln_2020.csv"
koeln_2021 = "./koeln_bikes_dataset/koeln_2021.csv"
koeln_2022 = "./koeln_bikes_dataset/koeln_2022.csv"

#munich datasets per year
muc_2022_dataset = "./munich_bikes_dataset/munich2022.csv"
muc_2021_dataset = "./munich_bikes_dataset/munich2021.csv"
muc_2020_dataset = "./munich_bikes_dataset/munich2020.csv"
muc_2019_dataset = "./munich_bikes_dataset/munich2019.csv"
muc_2023 = "./munich2023.csv"

augsburg_dataset = "./augsburg_bikes.csv"
freiburg_dataset="./Freiburg_bikes.csv"
stuttgart_dataset = "./stuttgart_bikes.csv"
wuerzburg_dataset = "./Wuerzburg_modified.csv"

## Defining the data sets as data frames

In [14]:
df_wuerzburg = pd.read_csv(wuerzburg_dataset)
df_augsburg = pd.read_csv(augsburg_dataset)
df_freiburg = pd.read_csv(freiburg_dataset)
df_stuttgart = pd.read_csv(stuttgart_dataset)

#Munich datasets
df_muc_2022 = pd.read_csv(muc_2022_dataset)
df_muc_2021 = pd.read_csv(muc_2021_dataset)
df_muc_2020 = pd.read_csv(muc_2020_dataset)
df_muc_2019 = pd.read_csv(muc_2019_dataset)
df_muc_2023 = pd.read_csv(muc_2023)

#Köln datasets
df_koeln_2020 = pd.read_csv(koeln_2020)
df_koeln_2021 = pd.read_csv(koeln_2021)
df_koeln_2022 = pd.read_csv(koeln_2022)

In [15]:
df_muc_2019.info()
df_muc_2020.info()
df_muc_2021.info()
df_muc_2022.info()
df_muc_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2159 entries, 0 to 2158
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          2159 non-null   object
 1   zaehlstelle    2159 non-null   object
 2   uhrzeit_start  2159 non-null   object
 3   uhrzeit_ende   2159 non-null   object
 4   richtung_1     2125 non-null   float64
 5   richtung_2     2125 non-null   float64
 6   gesamt         2125 non-null   float64
 7   min.temp       2159 non-null   float64
 8   max.temp       2159 non-null   float64
 9   niederschlag   2159 non-null   float64
 10  bewoelkung     2159 non-null   int64
 11  sonnenstunden  2159 non-null   float64
 12  kommentar      34 non-null     object
dtypes: float64(7), int64(1), object(5)
memory usage: 219.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2196 entries, 0 to 2195
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          2196 non-null   object
 1   zaehlstelle    2196 non-null   object
 2   uhrzeit_start  2196 non-null   object
 3   uhrzeit_ende   2196 non-null   object
 4   richtung_1     2180 non-null   float64
 5   richtung_2     2180 non-null   float64
 6   gesamt         2180 non-null   float64
 7   min.temp       2196 non-null   float64
 8   max.temp       2196 non-null   float64
 9   niederschlag   2196 non-null   float64
 10  bewoelkung     2196 non-null   int64
 11  sonnenstunden  2196 non-null   float64
 12  kommentar      16 non-null     object
dtypes: float64(7), int64(1), object(5)
memory usage: 223.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          2190 non-null   object
 1   zaehlstelle    2190 non-null   object
 2   uhrzeit_start  2190 non-null   object
 3   uhrzeit_ende   2190 non-null   object
 4   richtung_1     1886 non-null   float64
 5   richtung_2     1886 non-null   float64
 6   gesamt         1886 non-null   float64
 7   min.temp       2190 non-null   float64
 8   max.temp       2190 non-null   float64
 9   niederschlag   2190 non-null   float64
 10  bewoelkung     2190 non-null   int64
 11  sonnenstunden  2190 non-null   float64
 12  kommentar      304 non-null    object
dtypes: float64(7), int64(1), object(5)
memory usage: 222.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2190 entries, 0 to 2189
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          2190 non-null   object
 1   zaehlstelle    2190 non-null   object
 2   uhrzeit_start  2190 non-null   object
 3   uhrzeit_ende   2190 non-null   object
 4   richtung_1     2112 non-null   float64
 5   richtung_2     2112 non-null   float64
 6   gesamt         2112 non-null   float64
 7   min.temp       2190 non-null   float64
 8   max.temp       2190 non-null   float64
 9   niederschlag   2190 non-null   float64
 10  bewoelkung     2190 non-null   int64
 11  sonnenstunden  2190 non-null   float64
 12  kommentar      78 non-null     object
dtypes: float64(7), int64(1), object(5)
memory usage: 222.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          2006 non-null   object
 1   uhrzeit_start  2006 non-null   object
 2   uhrzeit_ende   2006 non-null   float64
 3   zaehlstelle    2006 non-null   object
 4   richtung_1     1996 non-null   float64
 5   richtung_2     1996 non-null   float64
 6   gesamt         1996 non-null   float64
 7   min.temp       2006 non-null   float64
 8   max.temp       2006 non-null   float64
 9   niederschlag   2006 non-null   float64
 10  bewoelkung     2006 non-null   int64
 11  sonnenstunden  2006 non-null   float64
dtypes: float64(8), int64(1), object(3)
memory usage: 188.2+ KB

In [20]:
# Create a new column 'kommentar' filled with blanks
df_muc_2023['kommentar'] =  np.nan

df_muc_2023['kommentar'] = df_muc_2023['kommentar'].astype('object')

# Display the DataFrame to verify the new column
df_muc_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          2006 non-null   object
 1   uhrzeit_start  2006 non-null   object
 2   uhrzeit_ende   2006 non-null   float64
 3   zaehlstelle    2006 non-null   object
 4   richtung_1     1996 non-null   float64
 5   richtung_2     1996 non-null   float64
 6   gesamt         1996 non-null   float64
 7   min.temp       2006 non-null   float64
 8   max.temp       2006 non-null   float64
 9   niederschlag   2006 non-null   float64
 10  bewoelkung     2006 non-null   int64
 11  sonnenstunden  2006 non-null   float64
 12  kommentar      0 non-null      object
dtypes: float64(8), int64(1), object(4)
memory usage: 203.9+ KB

In [25]:
# Save the DataFrame to a CSV file
df_muc_2023.to_csv('munich2023.csv', index=False)