# Thesis Notebook Caro Pe

## Imports

In [57]:
import pandas as pd
import matplotlib.pyplot as plt

## CSV files input to the Notebook

In [58]:
wuerzburg_dataset = "./Wuerzburg_modified.csv"
augsburg_dataset = "./augsburg_bikes.csv"

#munich datasets per year
muc_2022_dataset = "./munich_bikes_dataset/munich2022.csv"
muc_2021_dataset = "./munich_bikes_dataset/munich2021.csv"
muc_2020_dataset = "./munich_bikes_dataset/munich2020.csv"
muc_2019_dataset = "./munich_bikes_dataset/munich2019.csv"

#munich 2023 per month files
muc_2023_dec = "./munich_bikes_dataset/muc2023/munich_dec2023.csv"
muc_2023_nov = "./munich_bikes_dataset/muc2023/munich_nov2023.csv"
muc_2023_oct = "./munich_bikes_dataset/muc2023/munich_oct2023.csv"
muc_2023_sep = "./munich_bikes_dataset/muc2023/munich_sep2023.csv"
muc_2023_aug = "./munich_bikes_dataset/muc2023/munich_aug2023.csv"
muc_2023_jul = "./munich_bikes_dataset/muc2023/munich_jul2023.csv"
muc_2023_jun = "./munich_bikes_dataset/muc2023/munich_jun2023.csv"
muc_2023_may = "./munich_bikes_dataset/muc2023/munich_may2023.csv"
muc_2023_apr = "./munich_bikes_dataset/muc2023/munich_apr2023.csv"
muc_2023_mar = "./munich_bikes_dataset/muc2023/munich_mar2023.csv"
muc_2023_feb = "./munich_bikes_dataset/muc2023/munich_feb2023.csv"
muc_2023_jan = "./munich_bikes_dataset/muc2023/munich_jan2023.csv"

#Köln Bikes Sets
koeln_2020 = "./koeln_bikes_dataset/koeln_2020.csv"
koeln_2021 = "./koeln_bikes_dataset/koeln_2021.csv"
koeln_2022 = "./koeln_bikes_dataset/koeln_2022.csv"

## Defining the data sets as data frames

In [59]:
df_wuerzburg = pd.read_csv(wuerzburg_dataset)
df_augsburg = pd.read_csv(augsburg_dataset)

#Munich datasets
df_muc_2022 = pd.read_csv(muc_2022_dataset)
df_muc_2021 = pd.read_csv(muc_2021_dataset)
df_muc_2020 = pd.read_csv(muc_2020_dataset)
df_muc_2019 = pd.read_csv(muc_2019_dataset)

#munich 2023 data sets per month
df_m2023_1 = pd.read_csv(muc_2023_jan)
df_m2023_2 = pd.read_csv(muc_2023_feb)
df_m2023_3 = pd.read_csv(muc_2023_mar)
df_m2023_4 = pd.read_csv(muc_2023_apr)
df_m2023_5 = pd.read_csv(muc_2023_may)
df_m2023_6 = pd.read_csv(muc_2023_jun)
df_m2023_7 = pd.read_csv(muc_2023_jul)
df_m2023_8 = pd.read_csv(muc_2023_aug)
df_m2023_9 = pd.read_csv(muc_2023_sep)
df_m2023_10 = pd.read_csv(muc_2023_oct)
df_m2023_11 = pd.read_csv(muc_2023_nov)
df_m2023_12 = pd.read_csv(muc_2023_dec)

#Köln datasets
df_koeln_2020 = pd.read_csv(koeln_2020)
df_koeln_2021 = pd.read_csv(koeln_2021)
df_koeln_2022 = pd.read_csv(koeln_2022)

In [60]:
# print("2023 Jan")
# df_m2023_1.info()

# print("2023 Feb")
# df_m2023_2.info()

# print("2023 Mar")
# df_m2023_3.info()

# print("2023 Apr")
# df_m2023_4.info()

# print("2023 May")
# df_m2023_5.info()

# print("2023 Jun")
# df_m2023_6.info()

# print("2023 Jul")
# df_m2023_7.info()

# print("2023 Aug")
# df_m2023_8.info()

# print("2023 Sep")
# df_m2023_9.info()

# print("2023 Oct")
# df_m2023_10.info()

# print("2023 Nov")
# df_m2023_11.info()

# print("2023 Dec")
# df_m2023_12.info()

In [61]:
# Comparing the header row (column names) - only not for December, because it has a different size!! 
header_comparison = pd.DataFrame({'df1': df_m2023_1.columns, 'df2': df_m2023_2.columns, 'df3': df_m2023_3.columns, 'df4': df_m2023_4.columns, 'df5': df_m2023_5.columns, 'df6': df_m2023_6.columns, 'df7': df_m2023_7.columns, 'df8': df_m2023_8.columns, 'df9': df_m2023_9.columns, 'df10': df_m2023_10.columns, 'df11': df_m2023_11.columns})

print(header_comparison)

              df1            df2            df3            df4            df5  \
0           datum          datum          datum          datum          datum
1   uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start
2    uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende
3     zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle
4      richtung_1     richtung_1     richtung_1     richtung_1     richtung_1
5      richtung_2     richtung_2     richtung_2     richtung_2     richtung_2
6          gesamt         gesamt         gesamt         gesamt         gesamt
7        min-temp       min-temp       min-temp       min-temp       min-temp
8        max-temp       max-temp       max-temp       max-temp       max-temp
9    niederschlag   niederschlag   niederschlag   niederschlag   niederschlag
10     bewoelkung     bewoelkung     bewoelkung     bewoelkung     bewoelkung
11  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden

              df6            df7            df8            df9           df10  \
0           datum          datum          datum          datum          datum
1   uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start
2    uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende
3     zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle
4      richtung_1     richtung_1     richtung_1     richtung_1     richtung_1
5      richtung_2     richtung_2     richtung_2     richtung_2     richtung_2
6          gesamt         gesamt         gesamt         gesamt         gesamt
7        min-temp       min-temp       min-temp       min-temp       min-temp
8        max-temp       max-temp       max-temp       max-temp       max-temp
9    niederschlag   niederschlag   niederschlag   niederschlag   niederschlag
10     bewoelkung     bewoelkung     bewoelkung     bewoelkung     bewoelkung
11  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden

             df11
0           datum
1   uhrzeit_start
2    uhrzeit_ende
3     zaehlstelle
4      richtung_1
5      richtung_2
6          gesamt
7        min-temp
8        max-temp
9    niederschlag
10     bewoelkung
11  sonnenstunden

In [62]:
#print(df_m2023_12.head())
#print(df_m2023_1.head())

In [63]:
#We need to remove the first column of the DF for December 2023 in munich, in order to be able to use the concat() method in the right way
df_m2023_12 = df_m2023_12.drop(df_m2023_12.columns[0], axis=1)

print(df_m2023_12.head())

        datum uhrzeit_start  uhrzeit_ende zaehlstelle  richtung_1  richtung_2  \
0  2023.12.01         00:00         23.59      Arnulf         314          28
1  2023.12.02         00:00         23.59      Arnulf          49          42
2  2023.12.03         00:00         23.59      Arnulf          17          34
3  2023.12.04         00:00         23.59      Arnulf         104          32
4  2023.12.05         00:00         23.59      Arnulf         107          43

   gesamt  min.temp  max.temp  niederschlag  bewoelkung  sonnenstunden
0     342      -0.7       1.2          37.1          98            0.0
1      91      -5.5      -0.7           6.8          99            0.0
2      51      -7.9      -1.1           0.0           0            5.5
3     136     -10.8      -2.3           0.9          95            0.2
4     150      -3.0       6.2           0.4          96            1.0

In [64]:
# Comparing the header row (column names) - only not for December, because it has a different size!! 
header_comparison = pd.DataFrame({'df1': df_m2023_1.columns, 'df2': df_m2023_2.columns, 'df3': df_m2023_3.columns, 'df4': df_m2023_4.columns, 'df5': df_m2023_5.columns, 'df6': df_m2023_6.columns, 'df7': df_m2023_7.columns, 'df8': df_m2023_8.columns, 'df9': df_m2023_9.columns, 'df10': df_m2023_10.columns, 'df11': df_m2023_11.columns, 'df12': df_m2023_12.columns})

print(header_comparison)

              df1            df2            df3            df4            df5  \
0           datum          datum          datum          datum          datum
1   uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start
2    uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende
3     zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle
4      richtung_1     richtung_1     richtung_1     richtung_1     richtung_1
5      richtung_2     richtung_2     richtung_2     richtung_2     richtung_2
6          gesamt         gesamt         gesamt         gesamt         gesamt
7        min-temp       min-temp       min-temp       min-temp       min-temp
8        max-temp       max-temp       max-temp       max-temp       max-temp
9    niederschlag   niederschlag   niederschlag   niederschlag   niederschlag
10     bewoelkung     bewoelkung     bewoelkung     bewoelkung     bewoelkung
11  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden

              df6            df7            df8            df9           df10  \
0           datum          datum          datum          datum          datum
1   uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start  uhrzeit_start
2    uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende   uhrzeit_ende
3     zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle    zaehlstelle
4      richtung_1     richtung_1     richtung_1     richtung_1     richtung_1
5      richtung_2     richtung_2     richtung_2     richtung_2     richtung_2
6          gesamt         gesamt         gesamt         gesamt         gesamt
7        min-temp       min-temp       min-temp       min-temp       min-temp
8        max-temp       max-temp       max-temp       max-temp       max-temp
9    niederschlag   niederschlag   niederschlag   niederschlag   niederschlag
10     bewoelkung     bewoelkung     bewoelkung     bewoelkung     bewoelkung
11  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden  sonnenstunden

             df11           df12
0           datum          datum
1   uhrzeit_start  uhrzeit_start
2    uhrzeit_ende   uhrzeit_ende
3     zaehlstelle    zaehlstelle
4      richtung_1     richtung_1
5      richtung_2     richtung_2
6          gesamt         gesamt
7        min-temp       min.temp
8        max-temp       max.temp
9    niederschlag   niederschlag
10     bewoelkung     bewoelkung
11  sonnenstunden  sonnenstunden

In [65]:
#now it looks like all the dataframes for each month in munich 2023 have the same number of columns in the same order
#concat():

# Concatenate the DataFrames
df_munich2023 = pd.concat([df_m2023_1, df_m2023_2, df_m2023_3, df_m2023_4, df_m2023_5,
                           df_m2023_6, df_m2023_7, df_m2023_8, df_m2023_9, df_m2023_10,
                           df_m2023_11, df_m2023_12], ignore_index=True)

# ignore_index=True will reset the index of the resulting DataFrame

# Display the concatenated DataFrame
print(df_munich2023)

           datum uhrzeit_start  uhrzeit_ende zaehlstelle  richtung_1  \
0     2023.01.01      00:00:00         23.59      Arnulf       358.0
1     2023.01.02      00:00:00         23.59      Arnulf       781.0
2     2023.01.03      00:00:00         23.59      Arnulf       671.0
3     2023.01.04      00:00:00         23.59      Arnulf       744.0
4     2023.01.05      00:00:00         23.59      Arnulf       630.0
...          ...           ...           ...         ...         ...
2001  2023.12.27         00:00         23.59     Erhardt       802.0
2002  2023.12.28         00:00         23.59     Erhardt       885.0
2003  2023.12.29         00:00         23.59     Erhardt       939.0
2004  2023.12.30         00:00         23.59     Erhardt       945.0
2005  2023.12.31         00:00         23.59     Erhardt       549.0

      richtung_2  gesamt  min-temp  max-temp  niederschlag  bewoelkung  \
0           44.0   402.0       6.4      18.5           0.0          73
1           64.0   845.0       3.5      14.9           0.4          81
2           51.0   722.0       3.7      10.4           0.7          91
3           43.0   787.0       2.1      11.2           0.1          75
4           45.0   675.0       8.3      11.1           2.3          98
...          ...     ...       ...       ...           ...         ...
2001       781.0  1583.0       NaN       NaN           0.0          85
2002       925.0  1810.0       NaN       NaN           0.0          78
2003       959.0  1898.0       NaN       NaN           0.0          90
2004       810.0  1755.0       NaN       NaN           0.0          86
2005       525.0  1074.0       NaN       NaN           3.5          98

      sonnenstunden  min.temp  max.temp
0               7.8       NaN       NaN
1               4.2       NaN       NaN
2               0.0       NaN       NaN
3               3.0       NaN       NaN
4               0.0       NaN       NaN
...             ...       ...       ...
2001            6.3       1.9      11.3
2002            3.2       2.6      12.0
2003            1.1       7.5      11.2
2004            7.3       3.7      11.2
2005            1.0       0.3      10.3

[2006 rows x 14 columns]

In [66]:
df_munich2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          2006 non-null   object
 1   uhrzeit_start  2006 non-null   object
 2   uhrzeit_ende   2006 non-null   float64
 3   zaehlstelle    2006 non-null   object
 4   richtung_1     1996 non-null   float64
 5   richtung_2     1996 non-null   float64
 6   gesamt         1996 non-null   float64
 7   min-temp       1851 non-null   float64
 8   max-temp       1851 non-null   float64
 9   niederschlag   2006 non-null   float64
 10  bewoelkung     2006 non-null   int64
 11  sonnenstunden  2006 non-null   float64
 12  min.temp       155 non-null    float64
 13  max.temp       155 non-null    float64
dtypes: float64(10), int64(1), object(3)
memory usage: 219.5+ KB

In [67]:
## looks like there was an issue with the Dec columns and due to the different naming convention for the "min.temp" and "max.temp" the concat() 
## method is creating 2 new columns at the end of the new data frame
## lets try to fix it

# Rename columns
df_m2023_12 = df_m2023_12.rename(columns={'min.temp': 'min-temp', 'max.temp': 'max-temp'})

# Display the DataFrame
print(df_m2023_12.head())

        datum uhrzeit_start  uhrzeit_ende zaehlstelle  richtung_1  richtung_2  \
0  2023.12.01         00:00         23.59      Arnulf         314          28
1  2023.12.02         00:00         23.59      Arnulf          49          42
2  2023.12.03         00:00         23.59      Arnulf          17          34
3  2023.12.04         00:00         23.59      Arnulf         104          32
4  2023.12.05         00:00         23.59      Arnulf         107          43

   gesamt  min-temp  max-temp  niederschlag  bewoelkung  sonnenstunden
0     342      -0.7       1.2          37.1          98            0.0
1      91      -5.5      -0.7           6.8          99            0.0
2      51      -7.9      -1.1           0.0           0            5.5
3     136     -10.8      -2.3           0.9          95            0.2
4     150      -3.0       6.2           0.4          96            1.0

In [68]:
## now all the df for each month should have the same headers. lets try again:
# Concatenate the DataFrames
df_munich2023 = pd.concat([df_m2023_1, df_m2023_2, df_m2023_3, df_m2023_4, df_m2023_5,
                           df_m2023_6, df_m2023_7, df_m2023_8, df_m2023_9, df_m2023_10,
                           df_m2023_11, df_m2023_12], ignore_index=True)

# ignore_index=True will reset the index of the resulting DataFrame

# Display the concatenated DataFrame
df_munich2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datum          2006 non-null   object
 1   uhrzeit_start  2006 non-null   object
 2   uhrzeit_ende   2006 non-null   float64
 3   zaehlstelle    2006 non-null   object
 4   richtung_1     1996 non-null   float64
 5   richtung_2     1996 non-null   float64
 6   gesamt         1996 non-null   float64
 7   min-temp       2006 non-null   float64
 8   max-temp       2006 non-null   float64
 9   niederschlag   2006 non-null   float64
 10  bewoelkung     2006 non-null   int64
 11  sonnenstunden  2006 non-null   float64
dtypes: float64(8), int64(1), object(3)
memory usage: 188.2+ KB

In [69]:
# save the new DataFrame to a .csv file

df_munich2023.to_csv('munich2023.csv', index=False)

In [70]:
#df_wuerzburg = df_wuerzburg.drop(df_wuerzburg.columns[0], axis=1)

print(df_wuerzburg.head())
df_wuerzburg.info()

          Id                       Date  Counts Status  \
0  300020349  2021-03-03T23:00:00+01:00     NaN    NaN
1  300020349  2021-03-04T00:00:00+01:00     NaN    NaN
2  300020349  2021-03-04T01:00:00+01:00     NaN    NaN
3  300020349  2021-03-04T02:00:00+01:00     NaN    NaN
4  300020349  2021-03-04T03:00:00+01:00     NaN    NaN

                                          Name          Coordinates User Type  \
0  Greinberg Richtung Lindleinsmühle; Versbach  49.800637; 9.961311   bicycle
1  Greinberg Richtung Lindleinsmühle; Versbach  49.800637; 9.961311   bicycle
2  Greinberg Richtung Lindleinsmühle; Versbach  49.800637; 9.961311   bicycle
3  Greinberg Richtung Lindleinsmühle; Versbach  49.800637; 9.961311   bicycle
4  Greinberg Richtung Lindleinsmühle; Versbach  49.800637; 9.961311   bicycle

                        TimeZone  Interval                      Sens  \
0  (UTC+01:00) Europe/Berlin,DST      15.0  No direction distinction
1  (UTC+01:00) Europe/Berlin,DST      15.0  No direction distinction
2  (UTC+01:00) Europe/Berlin,DST      15.0  No direction distinction
3  (UTC+01:00) Europe/Berlin,DST      15.0  No direction distinction
4  (UTC+01:00) Europe/Berlin,DST      15.0  No direction distinction

  Installation Date Counter Photos photourl photo
0        2021-09-28     NaN    NaN      NaN   NaN
1        2021-09-28     NaN    NaN      NaN   NaN
2        2021-09-28     NaN    NaN      NaN   NaN
3        2021-09-28     NaN    NaN      NaN   NaN
4        2021-09-28     NaN    NaN      NaN   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231349 entries, 0 to 231348
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 231349 non-null  int64
 1   Date               231349 non-null  object
 2   Counts             153916 non-null  float64
 3   Status             153916 non-null  object
 4   Name               217150 non-null  object
 5   Coordinates        217150 non-null  object
 6   User Type          217150 non-null  object
 7   TimeZone           217150 non-null  object
 8   Interval           217150 non-null  float64
 9   Sens               217150 non-null  object
 10  Installation Date  217150 non-null  object
 11  Counter            108553 non-null  object
 12  Photos             108553 non-null  object
 13  photourl           108553 non-null  object
 14  photo              108553 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 26.5+ MB

In [71]:
# For now, I think it makes sense removing the following columns
columns_to_drop_wuerz = ['TimeZone', 'User Type', 'Sens','Photos', 'photourl', 'photo']

df_wuerzburg = df_wuerzburg.drop(columns=columns_to_drop_wuerz)

print(df_wuerzburg.head())

          Id                       Date  Counts Status  \
0  300020349  2021-03-03T23:00:00+01:00     NaN    NaN
1  300020349  2021-03-04T00:00:00+01:00     NaN    NaN
2  300020349  2021-03-04T01:00:00+01:00     NaN    NaN
3  300020349  2021-03-04T02:00:00+01:00     NaN    NaN
4  300020349  2021-03-04T03:00:00+01:00     NaN    NaN

                                          Name          Coordinates  Interval  \
0  Greinberg Richtung Lindleinsmühle; Versbach  49.800637; 9.961311      15.0
1  Greinberg Richtung Lindleinsmühle; Versbach  49.800637; 9.961311      15.0
2  Greinberg Richtung Lindleinsmühle; Versbach  49.800637; 9.961311      15.0
3  Greinberg Richtung Lindleinsmühle; Versbach  49.800637; 9.961311      15.0
4  Greinberg Richtung Lindleinsmühle; Versbach  49.800637; 9.961311      15.0

  Installation Date Counter
0        2021-09-28     NaN
1        2021-09-28     NaN
2        2021-09-28     NaN
3        2021-09-28     NaN
4        2021-09-28     NaN

In [72]:
df_augsburg = df_augsburg.iloc[:, :-1] # here I had to drop the last column from the dataset because it had no values at all. It was a wrong input
df_augsburg.info()
## We can see that all streets have a Dtype of float64 but column 7 (Konrad Adenauer Alle) is the only one with int64 as data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2695 entries, 0 to 2694
Data columns (total 13 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Time                                               2695 non-null   object
 1   Dieselbrücke                                       1331 non-null   float64
 2   Friedberger Straße östlich Afrabrücke              1559 non-null   float64
 3   Friedrich-Ebert-Straße östlich Haltestelle Messe   1564 non-null   float64
 4   Färberstraße/Gollwitzerstr.                        1571 non-null   float64
 5   Gögginger Straße südlich Rosenaustraße             1564 non-null   float64
 6   Haunstetter Straße Höhe protestantischer Friedhof  1556 non-null   float64
 7   Konrad Adenauer Allee Fahrradstraße                2695 non-null   int64
 8   Postillionstraße südl. Roggenstraße                645 non-null    float64
 9   Rosenaustraße westlich Gögginger Straße            1562 non-null   float64
 10  Südlich A8-Unterführung, Ostseite                  670 non-null    float64
 11  Ulrichsbrücke                                      2329 non-null   float64
 12  Wagenhalsstraße                                    2252 non-null   float64
dtypes: float64(11), int64(1), object(1)
memory usage: 273.8+ KB

In [76]:
# df_koeln_2020.info()
# df_koeln_2021.info()
# df_koeln_2022.info()